# Algoritmo para enviar o dataset vindo da B3, formatá-lo do jeito necessário e salvar em .csv

Fonte: [B3](http://www.b3.com.br/pt_br/)

### A célula abaixo serve para pegar os dados da B3 enviando o dataset bruto e formatá-lo como DataFrame com colunas rotuladas

In [175]:
%%time
import pandas as pd
cota = open("C:/Users/davir/Desktop/COTAHIST_A2019.txt",'r')
head = cota.readline()
print(head)
line = cota.readline()
all_data = []
size = [2, 8, 2, 12, 3, 12, 10, 3, 4, 13, 13, 13, 13, 13, 13, 13, 5, 18, 18, 13, 1, 8, 7, 13, 12, 3]
col = ['tipreg', 'date', 'codbdi', 'codneg', 'tpmerc', 'nomres', 'especi', 'prazot', 'modref', 'preabe', 'premax', 'premin', 'premed', 'preult', 'preofc', 'preofv', 'totneg', 'quatot', 'voltot', 'preexe', 'indopc', 'datven', 'fatcot', 'ptoexe', 'codisi', 'dismes']
while line:
    dt = []
    x = 0
    for s in size: 
        dt.append(line[x:x+s]) 
        x+=s 
    all_data.append(dt)
    line = cota.readline()
    if line.startswith('99'): 
        break

df = pd.DataFrame(data=all_data,columns=col)

00COTAHIST.2019BOVESPA 20191230

Wall time: 14.6 s

### Célula abaixo serve para formatar os dados de maneira mais clara e fazendo uma limpeza

In [176]:
col = ['tipreg',  'codbdi',  'tpmerc', 'totneg', 'quatot', 'indopc', 'datven', 'fatcot',  'dismes']
for c in col:
    df[c]=pd.to_numeric(df[c], downcast="integer")

col = ['preabe', 'premax', 'premin', 'premed', 'preult', 'preofc', 'preofv','voltot', 'preexe','ptoexe']
for c in col:
    df[c] = df[c].astype(float)/100

col = ['date','datven']
for c in col:
    df[c] = pd.to_datetime(df[c],format='%Y%m%d',errors='coerce')
    
col = ['codneg']
for c in col:
    df[c] = df[c].str.strip()

### Célula abaixo serve para filtrar apenas pelos IPO's

In [177]:
def listaFiltro(dataframe, valores):
    return dataframe.loc[dataframe['codneg'].isin(valores)]

list_ipos_2019 = ["PSVM11", "PARC3", "WIZS3",  "AALR3", "MOVI3", "PARD3", "AZUL4", "CRFB3", "IRBR3", "OMGE3", "CAML3", 
                  "BKBR3", "BRDT3", "GNDI3", "HAPV3", "BIDI4", "SBFG3", "CNTO3","NEOE3", "VIVA3", "BMGB4", "CEAB3", 
                  "MTRE3", "LWSA3", "MDNE3", "PRNR3", "ALPK3", "AMBP3", "SOMA3", "DMVF3", "LJQQ3", "LAVV3", "PGMN3",
                  "PETZ3", "PLPL3", "MELK3", "HBSA3", "CURY3", "BOAS3", "SEQL3", "GMAT3", "TFCO4", "CASH3", "ENJU3", 
                  "AERI3", "RRRP3", "AVLL3", "RDOR3", "NGRD3"]
df = listaFiltro(df, list_ipos_2019)
df

,tipreg,date,codbdi,codneg,tpmerc,nomres,especi,prazot,modref,preabe,...,totneg,quatot,voltot,preexe,indopc,datven,fatcot,ptoexe,codisi,dismes
0,1,2019-01-02,2,AALR3,10,ALLIAR,ON NM,,R$,13.31,...,856,264200,3523962.0,0.0,0,NaT,1,0.0,BRAALRACNOR6,100
23,1,2019-01-02,2,AZUL4,10,AZUL,PN N2,,R$,35.97,...,9140,2795000,100544797.0,0.0,0,NaT,1,0.0,BRAZULACNPR4,100
38,1,2019-01-02,2,BIDI4,10,BANCO INTER,PN EJ N1,,R$,38.55,...,1408,297300,11568363.0,0.0,0,NaT,1,0.0,BRBIDIACNPR0,103
41,1,2019-01-02,2,BKBR3,10,BK BRASIL,ON EJ NM,,R$,20.59,...,5295,1431200,29490100.0,0.0,0,NaT,1,0.0,BRBKBRACNOR4,101
54,1,2019-01-02,2,BRDT3,10,PETROBRAS BR,ON NM,,R$,25.87,...,16519,5320300,139851394.0,0.0,0,NaT,1,0.0,BRBRDTACNOR1,117
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
231110,1,2019-12-30,2,OMGE3,10,OMEGA GER,ON NM,,R$,36.33,...,2880,1033800,37840414.0,0.0,0,NaT,1,0.0,BROMGEACNOR0,101
231112,1,2019-12-30,2,PARD3,10,IHPARDINI,ON NM,,R$,27.05,...,1796,242600,6591786.0,0.0,0,NaT,1,0.0,BRPARDACNOR1,112
231220,1,2019-12-30,2,VIVA3,10,VIVARA S.A.,ON EJ NM,,R$,28.94,...,2747,983000,28534963.0,0.0,0,NaT,1,0.0,BRVIVAACNOR0,101
231233,1,2019-12-30,2,WIZS3,10,WIZ S.A.,ON NM,,R$,14.16,...,2106,444700,6277952.0,0.0,0,NaT,1,0.0,BRWIZSACNOR1,104
231444,1,2019-12-30,14,PSVM11,10,PORTO VM,TPR,,R$,2.69,...,38,6000,15710.0,0.0,0,NaT,1,0.0,BRPSVMTRV004,100

In [178]:
# CÉLULA PARA TIRAR COLUNAS INDESEJÁVEIS
df = df.drop(columns=["tipreg", "codbdi", "tpmerc", "nomres", "especi", "prazot", "modref", "premax", "premin", "premed", "preofc", 
                      "preofv", "preexe", "indopc", "datven", "fatcot", "ptoexe", "codisi", "dismes", "totneg", "preabe", "quatot"])
df

             date  codneg  preult       voltot
0      2019-01-02   AALR3   13.25    3523962.0
23     2019-01-02   AZUL4   36.33  100544797.0
38     2019-01-02   BIDI4   39.46   11568363.0
41     2019-01-02   BKBR3   20.65   29490100.0
54     2019-01-02   BRDT3   26.00  139851394.0
...           ...     ...     ...          ...
231110 2019-12-30   OMGE3   36.50   37840414.0
231112 2019-12-30   PARD3   27.22    6591786.0
231220 2019-12-30   VIVA3   29.12   28534963.0
231233 2019-12-30   WIZS3   14.12    6277952.0
231444 2019-12-30  PSVM11    2.50      15710.0

[4033 rows x 4 columns]

In [179]:
# CÉLULA PARA RESETAR O INDEX
df = df.reset_index(drop=True)

In [180]:
# CÉLULA PARA TRANSFORMAR O DATAFRAME EM CSV
df.to_csv("IPO_2019.csv", index = False)

**Após pegar csv de todos os anos desejados, basta uní-los e ordená-los por data**